flow.json
[
  {
    "id": "5dd458be451f6792",
    "type": "tab",
    "label": "Export",
    "disabled": false,
    "info": "",
    "env": [
      {
        "name": "database",
        "value": "mongodb",
        "type": "str"
      }
    ]
  },
  {
    "id": "28c24d508eac87c7",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Groupe 1",
    "topic": "topic1",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 260,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "a3c995be2851911c",
    "type": "debug",
    "z": "5dd458be451f6792",
    "name": "Log",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 400,
    "wires": []
  },
  {
    "id": "a68364f3ca9a407c",
    "type": "mysql",
    "z": "5dd458be451f6792",
    "mydb": "23cbc2ec0018aa1a",
    "name": "Database",
    "x": 1360,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "5cc01644316f676c",
    "type": "json",
    "z": "5dd458be451f6792",
    "name": "",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 390,
    "y": 260,
    "wires": [["a3c995be2851911c", "a91c37041540cc33"]]
  },
  {
    "id": "4d2c795afd3d78d4",
    "type": "switch",
    "z": "5dd458be451f6792",
    "name": "Dispatch",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "test",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "topic1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "topic2",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "topic3",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 4,
    "x": 840,
    "y": 160,
    "wires": [
      ["f30f6510e7e491f1"],
      ["02acf560403916fd"],
      ["6303af85d29855cb"],
      ["c66a2fcddd6c19ee"]
    ]
  },
  {
    "id": "d884905277352d98",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Test",
    "topic": "test",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 180,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "f30f6510e7e491f1",
    "type": "function",
    "z": "5dd458be451f6792",
    "name": "Test",
    "func": "const topic = msg.topic;\nconst json = JSON.stringify(msg.payload);\n\nmsg.topic = `INSERT INTO test (topic, json) VALUES ('${topic}', '${json}');\\n`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1090,
    "y": 60,
    "wires": [["a68364f3ca9a407c"]]
  },
  {
    "id": "0fd9cf68e44b709e",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Groupe 2",
    "topic": "topic2",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 340,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "2b97933cd5a091b3",
    "type": "catch",
    "z": "5dd458be451f6792",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 380,
    "y": 480,
    "wires": [["07d1a166cc303d69"]]
  },
  {
    "id": "07d1a166cc303d69",
    "type": "debug",
    "z": "5dd458be451f6792",
    "name": "Error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 480,
    "wires": []
  },
  {
    "id": "6303af85d29855cb",
    "type": "function",
    "z": "5dd458be451f6792",
    "name": "Groupe 2",
    "func": "const { value1, value2, value3 } = msg.payload;\n\nmsg.topic = `INSERT INTO table_name (field1, field2, field3) VALUES ('${value1}', '${value2}', '${value3}');\\n`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 220,
    "wires": [["a68364f3ca9a407c"]]
  },
  {
    "id": "fdfff9738b7b605c",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Groupe 3",
    "topic": "topic3",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 420,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "bb1ef17a203f8c2c",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Groupe 5",
    "topic": "topic5",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 580,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "c66a2fcddd6c19ee",
    "type": "function",
    "z": "5dd458be451f6792",
    "name": "Groupe 3",
    "func": "const { value1, value2, value3 } = msg.payload;\n\nmsg.topic = `INSERT INTO table_name (field1, field2, field3) VALUES ('${value1}', '${value2}', '${value3}');\\n`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 300,
    "wires": [["a68364f3ca9a407c"]]
  },
  {
    "id": "d3e95e706aa7a771",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Groupe 6",
    "topic": "topic6",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 660,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "02acf560403916fd",
    "type": "function",
    "z": "5dd458be451f6792",
    "name": "Groupe 1",
    "func": "const { value1, value2, value3 } = msg.payload;\n\nmsg.topic = `INSERT INTO table_name (field1, field2, field3) VALUES ('${value1}', '${value2}', '${value3}');\\n`;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 140,
    "wires": [["a68364f3ca9a407c"]]
  },
  {
    "id": "c56a4db49f34f5d9",
    "type": "mqtt in",
    "z": "5dd458be451f6792",
    "name": "Groupe 4",
    "topic": "topic4",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "45a8550c83b4dec0",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 500,
    "wires": [["5cc01644316f676c"]]
  },
  {
    "id": "a91c37041540cc33",
    "type": "switch",
    "z": "5dd458be451f6792",
    "name": "Database Switch",
    "property": "database",
    "propertyType": "flow",
    "rules": [
      {
        "t": "eq",
        "v": "mysql",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "mongodb",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 610,
    "y": 260,
    "wires": [["4d2c795afd3d78d4"], ["7f128b5ba10ac0b0"]]
  },
  {
    "id": "7f128b5ba10ac0b0",
    "type": "function",
    "z": "5dd458be451f6792",
    "name": "Collection",
    "func": "msg.collection = msg.topic;\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 380,
    "wires": [["915aa06dee3c081e"]]
  },
  {
    "id": "915aa06dee3c081e",
    "type": "mongodb out",
    "z": "5dd458be451f6792",
    "mongodb": "d9519f9357eed065",
    "name": "Database",
    "collection": "",
    "payonly": true,
    "upsert": false,
    "multi": false,
    "operation": "store",
    "x": 1100,
    "y": 380,
    "wires": []
  },
  {
    "id": "45a8550c83b4dec0",
    "type": "mqtt-broker",
    "name": "MQTTX",
    "broker": "195.35.28.236",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "23cbc2ec0018aa1a",
    "type": "MySQLdatabase",
    "name": "MySQL",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "example",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "d9519f9357eed065",
    "type": "mongodb",
    "hostname": "127.0.0.1",
    "topology": "direct",
    "connectOptions": "",
    "port": "27017",
    "db": "example",
    "name": ""
  }
]
